<% if @post.errors.any? %>
  <h4>Errors</h4>

  <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>

<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.text_area :content %>

  <%= f.label :blogger_id %>
  <%= f.collection_select :blogger_id, Blogger.all, :id, :name %>

  <%= f.label :destination_id %>
  <%= f.collection_select :destination_id, Destination.all, :id, :name %>

  <%= f.submit %>
<% end %>