<p>Title: <%= @book.title %></p>
<p>Author: <%= @book.author %></p>
<p>Snippet: <%= @book.snippet %></p>
<a href="/books/<%= @book.id %>/edit">edit</a>
<form action="/books/<%= @book.id %>" method="post" >
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete book">
</form>