<!DOCTYPE html>
<html>
  <head>
    <title>Flavortown™️</title>
    <link rel="flavortown icon" href="https://www.famousbirthdays.com/headshots/guy-fieri-5.jpg">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= flash[:notice] %>
      <% if @cart_items %>
        <h3>Cart</h3>
        <% @cart_items.each do |item| %>
          <li> <%= item.name %> </li>
        <% end %>
      <% else %>
        <h3>Cart (empty)</h3>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
