<!DOCTYPE html>
<html>
  <head>
    <title>AuthDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @user %>
      <%= link_to "Logout", sessions_path, method: :delete %>
    <% else %>
      <%= link_to "Login", login_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
